# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore log and system files
*.log
.DS_Store
Thumbs.db

# Ignore large dataset files (optional)
*.csv
*.sqlite
